@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {
    font-family: 'Open Sans', sans-serif;
    text-justify: distribute;

}

p {
    text-align: justify;
}

h6 {
    font-family: 'Open Sans', sans-serif;
}

#map {
    width: 800px;
    height: 500px;
    border: solid 1px #32a1ce;
    border-radius: 25px
}

.page-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.column {
    flex-grow: 1;
    padding: 10px;
}
.column-70 {
    margin-left: 20px;
    flex-basis: 60%;
}
.column-30 {
    z-index: 10;
    flex-basis: 40%;
    margin-right: 20px;
}

h1 {
    color: #025AD1;
    margin: auto;
}

.navbar {
    height: 100px;
}

.ul-for-menu {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    margin: 0;
    padding: 0;
}

.li-for-menu {
    display: inline;
    display: flex;
flex-direction: row;
justify-content: space-between;
}

.aguamenti-title {
    width: 100px;
}

.aguamenti-logo {
    width: 100px;
    margin-right: -60px;
    position: absolute;
    top: 193px;
    left: 35px;
}
.navbar-img {

}

.navbar-about {
    right: 20px;
    top: 20px;
    position: absolute;
}

.navbar-title {
    left: 40%;
    top: -190px;
    position: absolute;
}

.navbar-title > .aguamenti-title {
    width: 500px;
}

a {
    font-size: 20px;
    font-weight:bold;
    text-decoration: none;
}

.precipitationsGraph {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 400px;
}

.games-rules {
}

.blue {
    color: #025AD1;
}

