@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html, body {


}

h6 {
    font-family: 'Open Sans', sans-serif;
}

#map {
    width: 800px;
    height: 500px;
    border: solid 1px #32a1ce;
    border-radius: 25px
}

.page-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
}

.column {
    flex-grow: 1;
    padding: 10px;
}
.column-70 {
    flex-basis: 60%;
}
.column-30 {
    z-index: 10;
    flex-basis: 40%;
    background-color: lightgray;
}

h1 {
    color: #025AD1;
    margin: auto;
}

.navbar {
    height: 100px;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline;
}

img {
    width: 100px;

}

.navbar-img {
    left: 0;
    position: absolute;
}

.navbar-about {
    right: 20px;
    top: 20px;
    position: absolute;
}

.navbar-title {
    left: 700px;
    top: -190px;
    position: absolute;
}

.navbar-title > img {
    width: 500px;
}

a {
    font-size: 20px;
    font-weight:bold;
    text-decoration: none;
}

.precipitationsGraph {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    width: 400px;
    height: 400px;
}

.games-rules {
}
